@font-face {
  font-family: "Avenir LT W01 85 Heavy";
  src: url("../fonts/AvenirHeavy/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix");
  src: url("../fonts/AvenirHeavy/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix")
      format("eot"),
    url("../fonts/AvenirHeavy/65cde95a-ac33-4c65-8198-e37857968d1a.woff2")
      format("woff2"),
    url("../fonts/AvenirHeavy/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff")
      format("woff"),
    url("../fonts/AvenirHeavy/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf")
      format("truetype"),
    url("../fonts/AvenirHeavy/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7")
      format("svg");
}

@font-face {
  font-family: "AvenirNextLTW01-Medium";
  src: url("../fonts/AvenirNextMedium/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");
  src: url("../fonts/AvenirNextMedium/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix")
      format("eot"),
    url("../fonts/AvenirNextMedium/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2")
      format("woff2"),
    url("../fonts/AvenirNextMedium/f26faddb-86cc-4477-a253-1e1287684336.woff")
      format("woff"),
    url("../fonts/AvenirNextMedium/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf")
      format("truetype"),
    url("../fonts/AvenirNextMedium/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80")
      format("svg");
}

@font-face {
  font-family: "AvenirNextLTW01-Regular";
  src: url("../fonts/AvenirNext/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src: url("../fonts/AvenirNext/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix")
      format("eot"),
    url("../fonts/AvenirNext/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2")
      format("woff2"),
    url("../fonts/AvenirNext/1e9892c0-6927-4412-9874-1b82801ba47a.woff")
      format("woff"),
    url("../fonts/AvenirNext/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf")
      format("truetype"),
    url("../fonts/AvenirNext/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f")
      format("svg");
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: rgb(114, 114, 114);
  background-color: rgb(255, 255, 221);
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: "AvenirNextLTW01-Medium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
}

.chart {
  width: 100%;
  margin: 0 auto;
}

.tick line {
  stroke: black;
  stroke-dasharray: 3 6;
  opacity: 0.5;
}

.tick text {
  font-family: "AvenirNextLTW01-Medium", Arial;
  font-size: 0.8em;
  fill: rgb(137, 136, 136);
  text-anchor: middle;
}

.bars text {
  font-family: "AvenirNextLTW01-Medium", Helvetica, Arial;
  fill: #faf9f9;
  font-size: 0.7em;
  font-weight: 200;
  text-anchor: middle;
}

rect.unknown {
  stroke: grey;
  stroke-dasharray: 5 2;
  fill: none;
  opacity: 0.3;
}

rect.weekgood {
  fill: #52cd52;
  stroke: none;
  opacity: 0.95;
}

rect.weekbad {
  fill: #d46b6b;
  stroke: none;
  opacity: 0.95;
}

text.weekunknown {
  fill: black;
}

rect.testweek {
  fill: #ab9c9c;
  stroke: none;
  opacity: 0.65;
}

rect.meangood {
  fill: #11bb11;
  stroke: none;
  opacity: 0.95;
}

rect.meanbad {
  fill: #bb1111;
  stroke: none;
  opacity: 0.95;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

.annotation-note-label {
  font-size: 0.9em;
  font-family: "AvenirNextLTW01-Regular";
  text-anchor: middle;
}

.annotation-note-title {
  font-size: 1.2em;
  text-anchor: middle;
}

.annotation-icon {
  font-size: 3em;
}

.annotation-icon-status {
  font-size: 0.9em;
}

.bars text.testweek {
  text-anchor: middle;
  fill: #faf9f9;
}

.arrow {
  stroke: grey;
  stroke-width: 1;
  fill: transparent;
}
